.service {
  anchor-scope: --service;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}

.link {
  anchor-name: --service;
  display: block;
  padding: calc(var(--spacing) * 0.25);

  &[href*="//10."] {
    background-color: tomato;
  }
}

.tootlip {
  position-anchor: --service;
  position: absolute;
  inset: unset;
  position-area: top center;
  width: max-content;
  overflow: unset;
  filter: drop-shadow(0 0 2px oklch(0 0 0 / 0.2));
}

.arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  display: block;
  width: 1em;
  height: 0.6em;
  background: currentColor;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  translate: -50% 0;
}
