.service {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}

.link {
  display: block;
  padding: calc(var(--spacing) * 0.25);

  &[href*="//10."] {
    background-color: tomato;
  }
}
