.show {
  --_radius: calc(var(--spacing) * 0.24);
  --_height: 2lh;

  display: grid;
  grid-template-areas:
    "when series"
    "numbers title";
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-row: span 2;
  grid-column: 1 / -1;
  gap: 0 0.5em;
  align-items: center;
  text-decoration: none;
}

.when,
.numbers {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: end;
  height: var(--_height);
  padding: 0 0.6em;
  font-size: 0.6em;
  font-weight: 600;
  text-transform: uppercase;
}

.series,
.title {
  padding-inline-end: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.when {
  grid-area: when;
  color: var(--color-on-secondary);
  background: var(--color-bg-secondary);
  border-radius: var(--_radius);
}

.series {
  grid-area: series;
  font-weight: 600;
}

.numbers {
  grid-area: numbers;
  color: color-mix(
    in oklch,
    var(--color-on-primary) 60%,
    var(--color-bg-secondary)
  );
}

.title {
  grid-area: title;
  font-size: 0.8em;
}
