.weather {
  anchor-scope: --tooltip;
}

.wrapper {
  position: relative;
  anchor-name: --tooltip;
  display: grid;
  margin: 0 auto;
  grid-template:
    "icon ." 1fr
    "icon title" auto
    "icon explanation" auto
    "icon ." 1fr
    / auto 1fr;
  text-align: left;
  padding: 0;
}

.title {
  grid-area: title;
  font-size: 0.8em;
  font-weight: 600;
  color: color-mix(
    in oklch,
    var(--color-on-primary) 60%,
    var(--color-bg-primary)
  );
}

.icon {
  grid-area: icon;
  width: calc(var(--spacing) * 1.56);
  height: auto;
  aspect-ratio: 1;
  margin-right: calc(var(--spacing) * 0.12);
  background-color: light-dark(
    oklch(from var(--color-bg-primary) calc(l * 1.24) c h),
    oklch(from var(--color-bg-primary) calc(l * 0.72) c h)
  );
  border: 1px solid oklch(from var(--color-on-primary) l c h / 12%);
  border-radius: calc(var(--spacing) * 0.36);
}

.explanation {
  grid-area: explanation;
}

.stats {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: calc(var(--spacing) * 0.24);
  padding: calc(var(--spacing) * 0.24) calc(var(--spacing) * 0.48);
  font-weight: 400;

  dt {
    font-weight: 700;
  }

  span {
    margin-inline: calc(var(--spacing) * 0.24);
    opacity: 0.24;
  }
}
