.dialog {
  width: calc(100vw - calc(var(--spacing) * 1));
  max-width: 640px;
  padding: 2.4rem;
  margin: auto;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;

  svg {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
  }

  &:not(:hover, :focus-visible) {
    --_bg: transparent;
    --_text: var(--color-on-primary);
  }
}
