.masthead {
  display: grid;
  flex: 0 0 auto;
  grid-template:
    "logo . menu" auto
    / auto 1fr auto;
  align-items: center;
  margin-bottom: calc(var(--spacing) * 2);
}

.logo {
  grid-area: logo;

  svg {
    display: block;
    width: auto;
    height: var(--spacing);
  }
}

.menu {
  grid-area: menu;
}
